/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mag-2020, 15.27.04
    Author     : Anselmo
*/

/* Custom rag */
:root {
    --appqdc: #270066;  /* predominante*/
    --appqdc2: #FFCC00; /* scuro*/
    --appqdc3: #FFFF66; /* scuro*/
    --appqdc4: #fac31b; /* giallo*/  
    --statoavviso:#e80000;
    --statoavviso0:#ffffff;
    --statoavviso1:#ff9e00;
    --statoavviso2:#018522;
    --statoavviso3:hsl(229, 100%, 20%); /*<------ HHAHA */
    --statoavviso4:#e80000;
    --statoavviso5:#018522;
    --statoavviso10:#046500;
    --statoavviso20:#e80000;
    --statoavviso99:#790000;
    --statoavviso999:#000000;
    --card1:#E8F0F8;
    --card2:#ffe600;
    --card3:#006eff;
    --card4:#00b627;
    --card5:#5A97CF;
    --card6:#3D85C6;
}

.text-statoavviso{color: var(--statoavviso) !important;}
.text-statoavviso0{color: var(--statoavviso0) !important;}
.text-statoavviso1{color: var(--statoavviso1) !important;}
.text-statoavviso2{color: var(--statoavviso2) !important;}
.text-statoavviso3{color: var(--statoavviso3) !important;}
.text-statoavviso4{color: var(--statoavviso4) !important;}
.text-statoavviso5{color: var(--statoavviso5) !important;}
.text-statoavviso10{color: var(--statoavviso10) !important;}
.text-statoavviso20{color: var(--statoavviso20) !important;}
.text-statoavviso99{color: var(--statoavviso99) !important;}
.text-statoavviso999{color: var(--statoavviso999) !important;}

.bg-statoavviso{background-color: var(--statoavviso) !important;color: #FFF;}
.bg-statoavviso0{background-color: var(--statoavviso0) !important;color: #000;}
.bg-statoavviso1{background-color: var(--statoavviso1) !important;color: #FFF;}
.bg-statoavviso2{background-color: var(--statoavviso2) !important;color: #FFF;}
.bg-statoavviso3{background-color: var(--statoavviso3) !important;color: #FFF;}
.bg-statoavviso4{background-color: var(--statoavviso4) !important;color: #FFF;}
.bg-statoavviso5{background-color: var(--statoavviso5) !important;color: #FFF;}
.bg-statoavviso10{background-color: var(--statoavviso10) !important;color: #FFF;}
.bg-statoavviso20{background-color: var(--statoavviso20) !important;color: #FFF;}
.bg-statoavviso99{background-color: var(--statoavviso99) !important;color: #FFF;}
.bg-statoavviso999{background-color: var(--statoavviso999) !important;color: #FFF;}

.bg-card1{background-color: var(--card1) !important;color: #000;}
.bg-card2{background-color: var(--card2) !important;color: #000;}
.bg-card3{background-color: var(--card3) !important;color: #fff;}
.bg-card4{background-color: var(--card4) !important;color: #000;}
.bg-card5{background-color: var(--card5) !important;color: #000;}
.bg-card6{background-color: var(--card6) !important;color: #fff;}

.border-statoavviso{border-color: var(--statoavviso) !important;}
.border-statoavviso0{border-color: var(--statoavviso0) !important;}
.border-statoavviso1{border-color: var(--statoavviso1) !important;}
.border-statoavviso2{border-color: var(--statoavviso2) !important;}
.border-statoavviso3{border-color: var(--statoavviso3) !important;}
.border-statoavviso4{border-color: var(--statoavviso4) !important;}
.border-statoavviso5{border-color: var(--statoavviso5) !important;}
.border-statoavviso10{border-color: var(--statoavviso10) !important;}
.border-statoavviso20{border-color: var(--statoavviso20) !important;}
.border-statoavviso99{border-color: var(--statoavviso99) !important;}
.border-statoavviso999{border-color: var(--statoavviso999) !important;}

@font-face {
    font-family: myFirstFont;
    src: url('dist/css/fonts/Raleway-Regular.ttf');
}

.navbar-siciliapai{
    background-color: var(--appqdc) !important;
}

.masthead {
    background-color: var(--appqdc) !important;
    color: #FFF;
}

.mastheadlogin {
    background-color: var(--appqdc) !important;
    color: #FFF;
}

/**/

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    padding-top: 3.5rem;
    font-family: myFirstFont !important;
  }


/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #fff;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    /*color: #007bff;*/
    color: var(--appqdc) !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
* Navbar
*/

/*.navbar-brand {
 padding-top: .75rem;
 padding-bottom: .75rem;
 font-size: 1rem;
 background-color: rgba(0, 0, 0, .25);
 box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}*/

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* CLASSE PER LA PERSONALIZZAZIONE DELLA SELECT DELLA PAGINAZIONE DELLE DATATABLE*/
select.selectForPages{
    display: block !important;
    width: 200px !important;
    margin-right: 150px;
}
.mapid { height: 450px;}
/*Personalizzazione dei pulsanti delle DataTable*/
.dt-button.sipars, .dt-button.buttonAgg, .dt-button{
    background-color:  var(--appqdc) !important;
    background-image: none !important;
    color: #ffffff !important;
    letter-spacing: .5px !important;
    border-radius: 4px !important;
    text-transform: uppercase !important;
}
.dt-button.sipars.red, .dt-button.buttonAgg.red, .dt-button.red{
    background-color: var(--appqdc) !important;
}

fieldset.visura-impresa {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

fieldset.visura-impresa legend{
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

/* Custom rag */

.masthead{
    color: #ffffff;
    position: relative;
    background-color: #007bff;
    /*background-image: url(img/overlay.svg), linear-gradient(45deg, var(--appqdc) 0%,  var(--appqdc2) 100%);*/
    background-size: cover;
    z-index: 0;
}


.masthead .masthead-cards .shape {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.footer-padding{height:130px;}
.footer{
    /*border-top: 1px solid var(--appqdc2) !important;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
    line-height: 80px;
    /*padding: 1px;*/
    background-color: var(--appqdc); /*#ffffff;*/
    
    z-index: 0;
}   
.wavefoo{
    pointer-events: none;
    position: absolute;
    top: -45px;

}


.mastfooter{
    background-color: var(--appqdc) !important;
    color: #ffffff;
    position: relative;
    background-color: #007bff;
    background-image: url(img/siciliafesr.png), linear-gradient(45deg, var(--appqdc) 0%,  var(--appqdc2) 100%);
    background-size: cover;
    z-index: 0;
}


.mastfooter .mastfooter-cards .shape {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/*SVG HEADER*/
.a {fill: none;}

.b {clip-path: url(#a);}
.c,.d {fill: #f9f9fc;}
.d {opacity: 0.5; isolation: isolate;}

/*SVG FOOTER*/
#svgfooter{
    width:100% !important;
    height:50px !important;
}

.afoo {
    fill: none;
}

.bfoo {            
    clip-path: url(#a);
}

.cfoo,
.dfoo {
    fill: var(--appqdc)
}

.dfoo {
    opacity: 0.5;
    isolation: isolate;
}




.btn-primary, .badge-primary , .bg-primary, .bg-appqdc, .page-item.active .page-link{
    background-color: var(--appqdc) !important;
}

.text-primary , .text-primary a, .breadcrumb a{
    color: var(--appqdc) !important;
}

.btn-warning, .badge-warning , .bg-warning{
    background-color: var(--appqdc4) !important;
}
/**/

.evidenziato{
    color:  #b2ebed;
}
.green{
    color:  #b2ebed;
}

.dt-ico{
    font-size:18px;
}

.dt-custom-header{font-weght: normal;font-size:18px !important;padding:5px 0 20px 10px;}


.container-table {
    margin: auto;
    width: 90%;
    /*border: 1px solid #EAEAEA;*/
    padding: 10px;
    max-width: 1400px;
    border-radius: 25px;
    background-color:white;
    color:black;
}

#dt-bandi tr.odd, 
#dt-bandi tr.even, 
#dt-bandi-disponibili tr.odd, 
#dt-bandi-disponibili tr.even{
    font-size:14px;
    font-weight: bold;
    color:black;
}


.table-bandi{
    width:100%; border: solid #E6E6E6 1px; -moz-border-radius: 15px; -webkit-border-radius: 15px;padding:5px;
}

table.dataTable.no-footer{
    border-bottom: solid #E6E6E6 1px !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #E6E6E6 !important;
}

.rec-box{border: solid #FFFFFF 1px; -moz-border-radius: 2px; -webkit-border-radius: 2px;padding:5px;text-align:center;}

.bold{font-weight:bold;}
.italic{font-style: italic;}

.row-span{margin-bottom:15px;}
.row-span-footer{margin-bottom:5px;margin-top:40px!important;}

.riepilogo-box{padding:15px;}
.riepilogo-title{font-size:18px;text-decoration: underline;}

/* Tabelle in dashboard*/
.dash-table-border{
    border: 1px solid #212529;    
    border-radius: 25px;
}

.dash-table-header-wb{
    border-bottom: 1px solid #212529;
    padding: 20px 0 20px 0;
}


.dash-table-body{
    text-decoration:none;
    /*color:#ffffff;*/
}
.dash-table-body .row{
    padding: 15px 0 15px 0;
}
.dash-table-body div.row{
    /*background:#ff4500;*/
}
.dash-table-body div.row:hover{
    background: #F2F2F2;/* #0078d7;*/
}

img.logo{max-height:40px !important;margin-right: 20px !important;}
img.logo-footer{max-height:80px !important;}
img.logo-por{max-height:80px !important;background-color:white;}

/* CUSTOM TAB PANEL */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--appqdc) !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-top: 1px solid  var(--appqdc) !important;
    border-left: 1px solid  var(--appqdc) !important;
    border-right: 1px solid  var(--appqdc) !important;
    border-bottom: 0 !important;
    /*background-color: var(--appqdc4) !important;*/
}

.nav-tabs a{
    color: var(--statoavviso0);
}

.nav-tabs .nav-link.active{
    color: var(--appqdc);
}

/* CUSTOM LINK */
a.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.row-h2bb-c4{
    padding:10px 0 10px 0; 
    /*border-top: 1px solid var(--appqdc4);*/
    border-bottom: 1px solid var(--appqdc4);
    margin-bottom: 20px !important;
}

.row-hbb-c4{
    padding:2px 0 8px 0; border-bottom: 1px solid var(--appqdc4);
}

.row-bb-c4{
    padding:2px 0 2px 0; border-bottom: 1px solid var(--appqdc4);
}


/* CSS LOGIN */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 150px;
    border:1px solid #cccccc;
    border-radius:3px;
    padding:15px !important;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.row-group {
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.form-signin input[type="email"] {
    /*margin-bottom: -1px;*/
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    /*            margin-bottom: 10px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.reveal{
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 5;
}
.br-dashboard{
  content: "";
  display: block;
  margin: -5px;
}
.avviso-dashboard .card-header, .avviso-dashboard .card-body, .avviso-dashboard .card-footer {
    padding: 5px !important;
}

/* CSS SELECT 2 */
.select2-container .select2-selection--single {    
    height: 38px !important;
    padding: 5px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
}

.badge{
     white-space: normal !important;
}

#form-register input[type=checkbox], #form-register input[type=radio]{
    width: 20px !important;
}


.customloadingDt{
    height: 100% !important;
    width: 100% !important;    
    position: absolute !important;
    text-align: center !important;
    background: #222 !important;
    opacity: 0.7 !important;
    z-index: 900000 !important;    
    padding-top: 15% !important;
    color: #FFF !important;
}


.disablePeo {                        
    pointer-events: none;
    opacity: 0.4;
}

.disablePeo div,
.disablePeo textarea {
    overflow: hidden;
}


@media (min-width: 1200px){
    .bg-index-qdc {
     background-image: url(/assets/img/bg-qdc-xl.jpg);
    }
}
@media (min-width: 992px){
    .bg-index-qdc {
        background-image: url(/assets/img/bg-qdc-lg.jpg); 
    }
}
.bg-index-qdc {
    background: url(/assets/img/bg-qdc.jpg) no-repeat center top;
    background-size: cover;
}

.bd-navbar {
    min-height: 10rem;
    background-color: #06c;
}


body{
    background-color: #ffaa00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd633' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe066' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffeb99' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff5cc' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFFFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}